<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Checklist</h1>
    </mat-card-title>
    <button mat-fab color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list #checklist>
      <mat-list-option *ngFor="let task of tasks">
        {{task.title}}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-footer>
    <div class="completion">
      <strong>{{this.checklist.selectedOptions.selected.length}}</strong> of <strong>{{this.tasks.length}}</strong> completed
    </div>
    <mat-progress-bar mode="determinate" [value]="completion"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
