:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem;
  width:100vw;
  min-height:100vh;
  background:#e5e5e9;
  box-sizing: border-box;
  .mat-card {
    width:30rem;
    max-width: 100vw;
    .mat-card-header {
      display: flex;
      justify-content: space-between;
      h1 {
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .mat-card-footer {
      .completion {
        padding:2rem;
      }
    }
  }
  .flex {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
